h2{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    width: 80vw;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.butt {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.butt:hover {
    filter: opacity(70%);
    border:0.16em solid white;
    box-shadow: 0px 10px 14px -7px #276873;
}
.butt:active {
    box-shadow: 0px 10px 14px -7px #276873;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.gold {
    background-color: gold;
}
.orange {
    background-color: orange; 
}
.skyblue {
    background-color: skyblue; 
}
.lime {
    background-color: lime;
}
.purple {
    background-color: purple;
}
.red {
    background-color: red;
}
.brown {
    background-color: brown;
}
.gray {
    background-color: gray;
}

@media (max-width: 400px) {
    main {
        width: 70vw;
        margin:0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .butt {
        padding: 20px;
        margin-bottom: 10px;
        outline: none;
        border-radius: 40px;
        border: none;
        cursor: pointer;
    }
    .butt:hover {
        filter: opacity(70%);
        border:0.16em solid white;
        box-shadow: 0px 10px 14px -7px #276873;
    }
}

